.mobile-gallery-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    padding: 0 1.25rem;
    box-sizing: border-box;
}

.mobile-gallery-swiper {
    width: 100%;
    height: 22rem;
    padding-bottom: 3.125rem !important;
}

.mobile-gallery-slide {
    background-position: center;
    background-size: cover;
    width: min(300px, 80vw);
    height: 100%;
}

.mobile-gallery-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 8px; /* Optional: add some radius for better look */
    display: block;
}

.swiper-pagination-bullet {
    background-color: var(--color-primary) !important;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: var(--color-primary-dark) !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-white);
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--color-white);
}

.w-full {
    width: 100%;
}
